html, body {
    /* min-height: 100vh; */
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    resize: none;
    background-color: #c5fad4;
    /* height: inherit; */
}

/* body {
    overflow: hidden;
    height: inherit;
    resize: none;
    margin: 0 auto;
} */


canvas {
    min-width: 100%;
    height: 100%;
    cursor: crosshair;
    display: block;
}